<ion-side-menus class="d-side-menu">

  <ion-side-menu-content drag-content="false">
    
    <ion-nav-bar class="dingo-top-bar bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear">
        <i class="icon ion-ios7-arrow-back"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-view class="d-home" title="">
      <ion-tabs class="tabs-positive tabs-icon-top">
        <ion-tab title="Home" icon="dingo-icon-home" href="#/home/events">
          <ion-nav-view name="events-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Sell Tickets" icon="dingo-icon-sell-ticket" href="#/home/sell-ticket">
          <ion-nav-view name="sell-ticket-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Messages" badge="num_unread_messages" badge-style="badge-assertive" icon="dingo-icon-messages" href="#/home/messages">
          <ion-nav-view name="messages-tab"></ion-nav-view>
        </ion-tab>
      </ion-tabs>
    </ion-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Dingo</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
      
        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/events">
          <i class="icon ion-earth"></i>
          Main Screen
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/login">
          <i class="icon ion-log-in"></i>
          Login Screen
        </ion-item>
        
        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/settings">
          <i class="icon ion-android-settings"></i>
          Settings Screen
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/mytickets">
          <i class="icon ion-images"></i>
          My Tickets
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/faq">
          <i class="icon ion-android-information"></i>
          FAQ's
        </ion-item>

        <ion-item menu-close nav-clear class="item item-icon-left" href="#/app/about">
          <i class="icon ion-android-information"></i>
          About Screen
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>


