<ion-view class="d-about" title="">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="abouticon">
      <img src="img/about_screen/about_icon@2x.png"/>
    </div>

	<button class="button button-full button-large button-light" onclick="location.href='#/app/tandcs'">
 		Terms and Conditions
	</button>

	<button class="button button-full button-large button-light" onclick="location.href='#/app/privacypolicy'">
 		Privacy Policy
	</button>

    <div class="dlogo">
      <img src="img/about_screen/dlogo@2x.png"/>
    </div>

	<div class="text">
      <p>The Fan2Fan Ticketing App</p>
      <br>
      <p>Version 1.0.0</p>
    </div>

  </ion-content>
</ion-view>
