<ion-view class="d-events" view-title="Events">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    

  	<div id="categories_container">

	  	<ion-scroll zooming="false" direction="x" has-bouncing="true">

	  		<ul class="list categories" style="width:{{ categories_width }}px;">
		    	
		    	<li ng-repeat="category in categories" class="item item-checkbox category">
			      <img ng-src="{{category.pic_url}}" />
			      <label class="checkbox">
			      	<input type="checkbox">
			      </label>
			      <div class="category-name">{{ category.name }}</div>
				  </li>

		    </ul>

		  </ion-scroll>

  	</div>


  	<div id="events_container">

  		<div class="events-date">Tuesday 2nd December</div>
			
			<a ng-repeat="event in eventsA" class="event row icon-right ion-chevron-right" ng-href="#/home/event-details/{{event.id}}">
				<div class="event-pic">
					<img ng-src="{{event.photo}}" />
				</div>
				<div class="event-info col">
					<div class="event-title row">{{ event.name }}</div>
					<div class="event-address row">{{ event.address }}</div>
					<div class="event-time row">{{ event.time }}</div>
				</div>
				<div class="event-price col col-25">
					<div class="event-price-from row">from €{{ event.min_price }}</div>
					<div class="event-price-per-ticket row">per ticket</div>
					<div class="event-price-available-tickets row">{{ event.num_tickets_available }}</div>
				</div>
			</a>

			<div class="events-date">Thursday 4th December</div>
			
			<a ng-repeat="event in eventsB" class="event row icon-right ion-chevron-right" ng-href="#/home/event-details/{{event.id}}">
				<div class="event-pic">
					<img ng-src="{{event.photo}}" />
				</div>
				<div class="event-info col">
					<div class="event-title row">{{ event.name }}</div>
					<div class="event-address row">{{ event.address }}</div>
					<div class="event-time row">{{ event.time }}</div>
				</div>
				<div class="event-price col col-25">
					<div class="event-price-from row">from €{{ event.min_price }}</div>
					<div class="event-price-per-ticket row">per ticket</div>
					<div class="event-price-available-tickets row">{{ event.num_tickets_available }}</div>
				</div>
			</a>
  		

  		
  	</div>



    












  </ion-content>
</ion-view>






