<ion-view class="d-events" view-title="Events">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    

  	<div id="categories_container">
  		<ul class="list categories">
	    	<li class="item item-checkbox category">
		      <img src="img/categories/concerts@2x.png" />
		      <label class="checkbox">
		      	<input type="checkbox">
		      </label>
		      <div class="category-name">Concerts</div>
			  </li>
			  <li class="item item-checkbox category">
		      <img src="img/categories/sport@2x.png" />
		      <label class="checkbox">
		      	<input type="checkbox">
		      </label>
		      <div class="category-name">Sports</div>
			  </li>
			  <li class="item item-checkbox category">
		      <img src="img/categories/theatre@2x.png" />
		      <label class="checkbox">
		      	<input type="checkbox">
		      </label>
		      <div class="category-name">Theatre</div>
			  </li>
	    </ul>
  	</div>


  	<div id="events_container">

  		<div class="events-date">Tuesday 2nd December</div>
			
			<div class="event">
				<div class="event-pic">
					<img src="http://s3-us-west-2.amazonaws.com/dingoapp-test/events/photos/057/899/f5-/tiny_pic/Xmas-K.jpg?1416413614" />
				</div>
				<div class="event-info">
					<div class="event-title">Xmas Jumper Night</div>
					<div class="event-address">19 Downham Road, N15BF</div>
					<div class="event-time">18:30</div>
				</div>
				<div class="event-price">
					<div class="event-price-from">from €15</div>
					<div class="event-price-per-ticket">per ticket</div>
					<div class="event-price-available-tickets">2</div>
				</div>
			</div>

			<div class="event">
				<div class="event-pic">
					<img src="http://s3-us-west-2.amazonaws.com/dingoapp-test/events/photos/057/899/f5-/tiny_pic/Xmas-K.jpg?1416413614" />
				</div>
				<div class="event-info">
					<div class="event-title">Xmas Jumper Night</div>
					<div class="event-address">19 Downham Road, N15BF</div>
					<div class="event-time">18:30</div>
				</div>
				<div class="event-price">
					<div class="event-price-from">from €15</div>
					<div class="event-price-per-ticket">per ticket</div>
					<div class="event-price-available-tickets">2</div>
				</div>
			</div>

			<div class="events-date">Thursday 4th December</div>
			
			<div class="event">
				<div class="event-pic">
					<img src="http://s3-us-west-2.amazonaws.com/dingoapp-test/events/photos/057/899/f5-/tiny_pic/Xmas-K.jpg?1416413614" />
				</div>
				<div class="event-info">
					<div class="event-title">Xmas Jumper Night</div>
					<div class="event-address">19 Downham Road, N15BF</div>
					<div class="event-time">18:30</div>
				</div>
				<div class="event-price">
					<div class="event-price-from">from €15</div>
					<div class="event-price-per-ticket">per ticket</div>
					<div class="event-price-available-tickets">2</div>
				</div>
			</div>

			<div class="event">
				<div class="event-pic">
					<img src="http://s3-us-west-2.amazonaws.com/dingoapp-test/events/photos/057/899/f5-/tiny_pic/Xmas-K.jpg?1416413614" />
				</div>
				<div class="event-info">
					<div class="event-title">Xmas Jumper Night</div>
					<div class="event-address">19 Downham Road, N15BF</div>
					<div class="event-time">18:30</div>
				</div>
				<div class="event-price">
					<div class="event-price-from">from €15</div>
					<div class="event-price-per-ticket">per ticket</div>
					<div class="event-price-available-tickets">2</div>
				</div>
			</div>

			<div class="event">
				<div class="event-pic">
					<img src="http://s3-us-west-2.amazonaws.com/dingoapp-test/events/photos/057/899/f5-/tiny_pic/Xmas-K.jpg?1416413614" />
				</div>
				<div class="event-info">
					<div class="event-title">Xmas Jumper Night</div>
					<div class="event-address">19 Downham Road, N15BF</div>
					<div class="event-time">18:30</div>
				</div>
				<div class="event-price">
					<div class="event-price-from">from €15</div>
					<div class="event-price-per-ticket">per ticket</div>
					<div class="event-price-available-tickets">2</div>
				</div>
			</div>

			<div class="event">
				<div class="event-pic">
					<img src="http://s3-us-west-2.amazonaws.com/dingoapp-test/events/photos/057/899/f5-/tiny_pic/Xmas-K.jpg?1416413614" />
				</div>
				<div class="event-info">
					<div class="event-title">Xmas Jumper Night</div>
					<div class="event-address">19 Downham Road, N15BF</div>
					<div class="event-time">18:30</div>
				</div>
				<div class="event-price">
					<div class="event-price-from">from €15</div>
					<div class="event-price-per-ticket">per ticket</div>
					<div class="event-price-available-tickets">2</div>
				</div>
			</div>

			<div class="event">
				<div class="event-pic">
					<img src="http://s3-us-west-2.amazonaws.com/dingoapp-test/events/photos/057/899/f5-/tiny_pic/Xmas-K.jpg?1416413614" />
				</div>
				<div class="event-info">
					<div class="event-title">Xmas Jumper Night</div>
					<div class="event-address">19 Downham Road, N15BF</div>
					<div class="event-time">18:30</div>
				</div>
				<div class="event-price">
					<div class="event-price-from">from €15</div>
					<div class="event-price-per-ticket">per ticket</div>
					<div class="event-price-available-tickets">2</div>
				</div>
			</div>
  		

  		
  	</div>



    












  </ion-content>
</ion-view>






