<ion-view class="d-login" title="" hide-nav-bar="false">
  
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="logo">
      <img src="img/login_screen/dingo_logo@2x.png" />
    </div>

    <div class="fb-login">
      <img src="img/login_screen/btnFBLogin@2x.png" />
    </div>

    <div class="text">
      There will be no evidence of Dingo on your Facebook unless you decide to share something with your friends
    </div>

    <div class="or-icon">
      <img src="img/login_screen/or_icon@2x.png" />
    </div>

    <div class="guest">
      <img src="img/login_screen/btnGuest@2x.png" />
    </div>
  </ion-content>

</ion-view>
