<ion-view class="d-messages" view-title="Messages">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding" scroll="false">
 
		<div id="peers">

			<a ng-repeat="peer in peers" class="peer icon-right ion-chevron-right" ng-href="#/home/messages/{{peer.id}}" ng-click="setActivePeer(peer);">
					<img class="user-pic" ng-src="{{peer.user_pic}}" />
					<div class="user-name">{{ peer.user_name }}</div>
			</a>

  </ion-content>
</ion-view>






