<ion-view class="d-sell-ticket" view-title="Sell Tickets">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="padding">

  	<div class="list">

		  <div class="item item-divider">
		    Event Details
		  </div>

		  <div class="event-name">
			  <label class="item item-input">
			    <span class="input-label">Event Name:</span>
			    <input type="search" ng-model="ticketDetails.event.name" ng-change="filterEvent()" />
			  </label>
			  <ul class="list events-list">
			  	<li ng-show="showEvent(event)" ng-click="selectEvent(event)" ng-repeat="event in events" class="item">{{ event.name }}</li>
			  </ul>
		  </div>

<!-- 		  remove location
		  <label class="item item-input">
		    <span class="input-label">Location:</span>
		    <input type="text" ng-model="ticketDetails.event.address" ng-disabled="ticketDetails.event.selected" />
		  </label> -->

		  <label class="item item-input">
		    <span class="input-label">Start date:</span>
		    <input type="datetime" ng-model="ticketDetails.event.date" ng-disabled="ticketDetails.event.selected" />
		  </label>

<!-- 		  remove end date
		  <label class="item item-input">
		    <span class="input-label">To:</span>
		    <input type="datetime" ng-model="ticketDetails.event.end_date" ng-disabled="ticketDetails.event.selected" />
		  </label> -->

		  <div class="item item-divider">
		    Ticket Details
		  </div>

		  <label class="item item-input">
		    <span class="input-label">Price per ticket:</span>
		    <input type="number" ng-model="ticketDetails.price_per_ticket" />
		  </label>

		  <label class="item item-input">
		    <span class="input-label">Face Value per ticket:</span>
		    <input type="number" ng-model="ticketDetails.face_value_per_ticket" />
		  </label>

		  <label class="item item-input">
		    <span class="input-label">Number of tickets:</span>
		    <input type="number" ng-model="ticketDetails.num_tickets" min="1" max="10" />
		  </label>

		  <label class="item item-input item-select">
		    <div class="input-label">
		      Type of ticket:
		    </div>
		    <select ng-model="ticketDetails.type_of_ticket">
		      <option>e-Ticket</option>
		      <option>Paper</option>
		    </select>
		  </label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Comments:</span>
		    <textarea ng-model="ticketDetails.comments" rows="2" placeholder="Add any additional comments about the tickets or collection">
		    </textarea>
		  </label>

		  <div class="item item-divider">
		    How do you want to be paid?
		  </div>

		  <li class="item item-toggle">
		     Cash in Person
		     <label class="toggle toggle-positive">
		       <input ng-model="ticketDetails.payment_methods.cash" type="checkbox" name="payment" />
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  <li class="item item-toggle">
		     Paypal
		     <label class="toggle toggle-positive">
		       <input ng-model="ticketDetails.payment_methods.paypal" type="checkbox" name="payment" />
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  <div class="item item-divider">
		    Delivery method(s):
		  </div>

		  <li class="item item-toggle">
		     In Person
		     <label class="toggle toggle-balanced">
		       <input ng-model="ticketDetails.delivery_methods.in_person" type="checkbox" name="delivery" />
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  <li class="item item-toggle">
		     Email
		     <label class="toggle toggle-balanced">
		       <input ng-model="ticketDetails.delivery_methods.electronic" type="checkbox" name="delivery" />
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

		  <li class="item item-toggle">
		     Post
		     <label class="toggle toggle-balanced">
		       <input ng-model="ticketDetails.delivery_methods.post" type="checkbox" name="delivery" />
		       <div class="track">
		         <div class="handle"></div>
		       </div>
		     </label>
		  </li>

	  </div>

  	<button class="button button-full button-positive" ng-click="previewTicket()">Preview Ticket</button>

  </ion-content>
</ion-view>






