<ion-view class="d-settings" title="Settings">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

  Settings Screen

    <!-- <div class="profile">
      <div class="left">
        <img ng-src="{{ user.photo_url }}" />
      </div>
      <div class="right">
        <label class="item item-input">
          <input type="text" placeholder="First Name" ng-model="user.first_name">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Last Name" ng-model="user.last_name">
        </label>
      </div>
    </div>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Birth Date</span>
        <input type="date" ng-model="user.dateOfBirth">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Gender
        </div>
        <select ng-model="user.gender">
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </label>
    </div> -->

<!--
	  <div>
	    <debug val="user"></debug>
	  </div>
-->

  </ion-content>
</ion-view>
