<ion-view class="d-tandcs" title="">
<!--   <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> -->
  <ion-content class="has-header">

    <div class="tandcsicon">
      <img src="img/about_screen/about_icon@2x.png"/>
    </div>

    <div class="card">
      <div class="item item-divider">
        Terms and Conditions
      </div>
      <div class="item item-text-wrap">
        <P>REGISTERED USER TERMS AND CONDITIONS – Dingo App</P>
<P>1. About Us
Allington Ventures Ltd (“AVL”, "we", “our” or “us”) operates a marketplace (the “Marketplace”) that allows registered users (“Registered Users”) to buy and sell items using the Dingo application (the “App”) that is available for download via mobile devices.

The App and website (www.dingoapp.co.uk) are owned by AVL. We are registered in England and Wales under company number 08862565. 
2. Your relationship with us
2.1 This document and any documents referred to within it (collectively, the "Terms of Service") set out the terms of your relationship with us. It is important that you read and understand the Terms of Service before using the App. If there is anything within these Terms of Service that you do not understand, or you have any questions relating to the App then please contact us at info@dingoapp.co.uk .

2.2 By setting up an account with us (an “Account”) or using and accessing the App you agree to these Terms of Service. If you do not agree to these Terms of Service, please do not browse or otherwise access or use the App. AVL does not authorize use of the App without acceptance of these Terms of Service.

2.3 We reserve the right to change modify, add or remove any portion of these Terms of Service from time to time by changing them on the App. Changes will be effective on the date that they are posted on the App. Please check the App from time to time to see if any changes to the Terms of Service have been made. Your continued use of the App and any new purchases will be bound by the new Terms. 

3. App Access

3.1 We cannot and do not guarantee the App’s continuous, uninterrupted or error-free operability. There may be times when certain features, parts or content of the App, or the entire App, become unavailable (whether on a scheduled or unscheduled basis) or are modified, suspended or withdrawn by us, in our sole discretion, without notice to you. You acknowledge and agree that we are not be liable to you or to any third party for any unavailability, modification, suspension or withdrawal of the App, or any features, parts or content of the App.

3.2 We may in our absolute discretion change the format and content of the App from time to time. We reserve the right to modify, change, substitute or withdraw any listings or other information on the App. You agree that your use of the App is on an 'as is' and 'as available' basis and at your sole risk.
3.3 You agree to keep your password secure and confidential and to not allow anyone else to use your email address or password to access the App; to not do anything which would assist anyone who is not a Registered User to gain access to any secured area of the App, and; to not create additional registration accounts for the purpose of abusing the functionality of the App or any Content, or other Registered Users, or to seek to pass yourself off as another Registered User. If you think someone else has obtained your account details, please let us know immediately via info@dingoapp.co.uk and we will close your account as quickly as possible. You will be responsible to AVL and to others for all activity that occurs under your registration account.
4. The Dingo Marketplace
4.1 You may offer your items for sale through our App by publishing pictures of the item you want to sell and/or a full description of the item listed for sale ("Sale Item").

4.2 You may purchase items listed on the Marketplace through the App by using a valid debit/credit card or PayPal account (an “In-App Transaction”).

4.3 We want our service to be a positive experience for our Registered Users and we ask that you honor the commitments you make to other Registered Users in respect of the sale or purchase of items via the Marketplace.

4.4 We do not give any commitment, guarantee, warranty or undertaking relating to the existence, quality, safety, genuineness or legality of items offered, sold or bought through the App, the truth or accuracy of any picture or description of items or any other content made available by Registered Users, the ability of sellers to sell Sale Items, the ability of buyers to pay for them,  that a buyer or seller will complete a transaction or return the Sale Item, or that Sale Items will afford you entry to any event. 
4.5 By using the App and agreeing to these Terms of Service you agree that you will not act fraudulently or dishonestly when using the App and/or list Sale Items unless they are genuine and you are not impeded from selling such items as a result of any law of third-party right attaching to items.  You will reimburse AVL for any loss suffered as a result of your listing Sale Items that you are not permitted to offer for sale or sell via the App.
5. Our Liability
5.1 The material displayed through the App is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we hereby expressly exclude:
5.1.1 All conditions, warranties and other terms that might otherwise be implied by   statute, regulation, common law or the law of equity in any jurisdiction;
5.1.2 Any liability for any direct, indirect or consequential loss or damage incurred by any Registered User in connection with the App, inability to use, or results of the use of the App, any websites linked to the App and any materials posted on it, including, without limitation any liability for:
5.1.2.1 Direct or indirect loss of income or revenue; loss of business; loss of profits or contracts; bankruptcy; loss of anticipated savings; loss of data; loss of goodwill; wasted management or office time; and for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above;
5.1.2.2 Nothing in these Terms of Service shall affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation nor any other liability which cannot be excluded or limited under applicable law.
5.2 You agree that the liability of AVL to you hereunder shall be limited to the amount you have actually paid to AVL for the App hereunder (or, if greater, £100).
6. Rules of Acceptable Use
6.1 In addition to the other requirements within these Terms of Service, this section describes specific rules that apply to your use of the App (the "Rules of Acceptable Use").

6.2 You must make sure the email address you provide in your Account details remains active and is checked by you on a regular basis.

6.3 When using the App you must not:

  6.3.1 create more than one Account on the App unless we agree otherwise;

  6.3.2 give any false or misleading information in your Account details;

6.3.3 permit another person to use the App under your name or on your behalf unless you are a business and such person is authorised by you;

  6.3.4 use the App if we have suspended or banned you from using it;

  6.3.5 send junk, spam or repetitive messages;

6.3.6 engage in any illegal or unlawful conduct including selling any fake or counterfeit items or any item that otherwise beaches another person’s rights;

  6.3.7 modify, interfere, intercept, disrupt or hack the App;

  6.3.8 collect any data from the App other than in accordance with these Terms of Service;

6.3.9 submit or contribute any content to the Marketplace and/or the App (including, but not limited to, images, comments, descriptions relating to Sale Items or any other content for publication in connection with the App (“User Content”)) that contains nudity or violence, is abusive, threatening, harassing, obscene, misleading, untrue, offensive, derogatory or uses bad or rude language;

6.3.10 unfairly or unlawfully interfere or manipulate any ratings system or user feedback system;

6.3.11 submit or contribute any User Content without the permission of the content owner or otherwise infringe the copyright, trade mark or other rights of third parties; or

6.3.12 contravene any terms or conditions imposed by an event or venue in   relation to the Sale Items through the offer of the Sale Items for sale or otherwise;

  6.3.13 offer to sell the following items we list as prohibited items:

6.3.13.1 Football Tickets: It is illegal to resell any tickets to professional football matches occurring in England and Wales or involving English or Welsh teams playing outside England or Wales. AVL does not allow tickets for Scottish, Northern Ireland or Republic of Ireland football matches to be sold either. Contact the FA or the relevant football club directly for information on exchange options available to you. 

6.3.13.2 Rail Tickets: It is illegal to resell any rail tickets in the UK (including Eurostar tickets and local travel cards), unless you’re an official distributor. Please contact the relevant rail carriers directly for information on   exchange options available to you;

6.3.13.3 Certain other event tickets that are specified as being “not for resale” or words of similar meaning.  

6.4 It shall be at AVL’s sole and absolute discretion as to decide whether or not you have breached these Terms of Service.

6.5 Failure to comply with the Rules of Acceptable Use constitutes a serious breach of these Terms of Service, and may result in our taking all or any of the following actions (with or without notice) at our complete discretion:

6.5.1 immediate, temporary or permanent withdrawal of your right to use our App;

6.5.2 immediate, temporary or permanent removal of any User Content (including the removal of Sale Items listed on the Marketplace);

  6.5.3 issuing of a warning to you;

6.5.4 legal action against you including proceedings for reimbursement of all costs (including, but not limited to, reasonable administrative and legal costs) resulting from the breach;

6.5.5 disclosure of such information to law enforcement authorities as we reasonably feel is necessary.

6.6 You agree to provide only true, accurate and complete information to us and/or the App. Any personal information provided by you will be treated with appropriate care and security in accordance with our Privacy Policy.

6.7 The responses described in this section are not limited, and we may take any other action we reasonably deem appropriate.

7. Viruses, hacking and other offences
7.1 You must not misuse our App by knowingly or carelessly introducing viruses, trojans, worms, logic bombs or other material that is malicious or technologically harmful. You must not attempt to gain unauthorised access to our App, the server on which our App and/or Marketplace is stored or any server, comservice via a denial-of-service attack or a distributed denial-of service attack.
7.2 By breaching this provision, you would commit a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our App will cease immediately.
7.3 We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our App or to your downloading of any material posted on it, or on any website linked to it.

8. Commission
8.1 The buyer of any Sale Item will pay us a commission equal to 10% per cent of the sale price listed in relation to such Sale Item by the seller in respect of any such sale concluded by an In-App Transaction (the "Commission"). 

8.2 We do not charge sellers a Commission on any Sale Items sold via an In-App Transaction.

8.3 You agree that you will not circumvent, or attempt to circumvent, or manipulate our fee structure or the billing process to adversely affect the Commission due to us in accordance with these Terms of Service.

8.4 We will provide you with an invoice detailing the Commission.

8.5 AVL shall not be responsible in whole or in part for any tax levied or payable by any Registered User of the App and any Commission shall be calculated gross of any such tax or other deduction that a buyer or seller of a Sale Item may be liable to pay.


9. The Payment Process

9.1 Payments made via an In-App Transaction will be received by AVL. We will hold the amount received from the buyer until the expiry of the period of 48 hours commencing from the start time of the event for which a Sale Item has been purchased (the “Challenge Period”). After the expiry of the Challenge Period, the payment, less any commissions owed to AVL where applicable, will be transferred to the seller unless there has been a Challenge (as defined in clause 9.4) by the buyer. 

9.2 You acknowledge that payment processing services are provided by a third party, PayPal. You warrant that you have appropriate authority to use the payment card details which you input. By inputting your debit or credit card information, you agree to use of that information by PayPal for the purpose of processing your payment. 

9.3 Your card details will be stored securely by PayPal. AVL does not store your payment card details on its systems, nor does AVL share your personal details with third parties, save as set out in our Privacy Policy.  

9.4 If the buyer is unhappy with the Sale Item for any reason, including, without limitation, because the Sale Item is not delivered on time or the buyer reasonably suspects that the Sale Item is fraudulent, the buyer must inform AVL by emailing report@dingoapp.co.uk (a “Challenge”) immediately and no later than the expiry of the Challenge Period. AVL will investigate the Challenge in accordance with clause 9. 

9.5 If the buyer contacts AVL in relation to a Sale Item after the Challenge Period, AVL has neither a requirement nor obligation whatsoever to investigate the Challenge.

10. The Dispute Process

10.1 If a Challenge is made within the Challenge Period Dingo will suspend the payment transfer outlined in 9.1 and commence a dispute resolution process (the “Dispute Process”). 

10.2 Both of the buyer and seller of a Sale Item that is the subject of a Challenge must comply fully with the reasonable requests of AVL during the Dispute Process, including providing AVL with full, complete and accurate information and evidence within 24 hours of a request by AVL. 

10.3 AVL will assess the information provided from the Dispute Process and form a decision in respect of the Challenge (the “Verdict”). Both the buyer and seller agree that the Verdict is binding and cannot be appealed. Upon reaching a Verdict, AVL will either refund the buyer, including Commission, the amount paid by the buyer to AVL (“The Dingo Guarantee”), or transfer the owed money to the seller. 

11. Cancellations & Refunds

11.1  The seller of a Sale Item may cancel the sale of such Sale Item prior to the event to which the Sale Item relates and before he has delivered the Sale Item to the buyer by:
  
  11.1.1  informing the buyer that he is cancelling the sale of such Sale Item; and
  11.1.2 informing AVL that he is cancelling the sale of such Sale Item by emailing report@dingoapp.co.uk.

In such circumstance, AVL shall promptly refund to the buyer all amounts paid to AVL by the buyer.

11.2  The buyer of a Sale Item acknowledges that he may not cancel the purchase of such Sale Item once the buyer has made payment to AVL of the price of such Sale Item. 

11.3  If the event for which a Sale Item has been purchased is cancelled:-

11.3.1  if the buyer is permitted to obtain a refund from the event organisers or the original ticket retailer directly, he should do so (note that any transaction costs which might apply in processing such refund - for example an administrative fee imposed by the event organiser - will be the buyers responsibility);
11.3.2  if the buyer is not permitted to obtain a refund from the event organisers or the original ticket retailer directly, the buyer agrees to return the ticket(s) to the seller (at the buyers cost) as soon as possible (taking into account how close in time the event is) to enable the seller to claim a refund from the event organiser or the retailer that sold the ticket(s) to the seller originally, which the seller should pass on to the buyer via PayPal.

In either case, the buyer will not be entitled to a refund or reimbursement for any indirect or unforeseeable costs such as travel, accommodation, loss of earnings etc.

11.4  If the event date for which a Sale Item has been purchased is changed:-

11.4.1 if the ticket(s) are valid for the new date, the buyer can either:
11.4.1.1 attend the event on the new date; or
11.4.1.2 opt for a refund if the event organiser or retailer that sold the ticket(s) to the seller originally is offering a refund. In such case, the buyer is permitted to obtain a refund from the event organisers or the original ticket retailer directly. (note that any transaction costs which might apply in processing such refund - for example an administrative fee imposed by the event organiser - will be the buyer’s responsibility). Otherwise, the buyer must return the ticket(s) to the seller (at his cost) as soon as possible (taking into account how close in time the event is), to enable the seller to claim a refund from the event organiser or retailer that sold the ticket(s) to the seller originally, which the seller should pass on to the buyer via PayPal.

11.4.2 if the ticket(s) are not valid for the new date and the event organiser or retailer that sold the ticket(s) to the seller originally is offering a refund or exchange, the buyer is permitted to obtain a refund or exchange from the event organisers or the original ticket retailer directly. (note that any transaction costs which might apply in processing such refund - for example an administrative fee imposed by the event organiser - will be the buyer’s responsibility). Otherwise, the buyer must return the ticket(s) to the seller (at his cost) as soon as possible (taking into account how close in time the event is), to enable to seller to claim a refund from the event organiser or retailer that sold the ticket(s) to the seller originally, which the seller should pass on to you via PayPal.

12. Delivery

12.1  The seller may dispatch the Sale Item to the buyer electronically, by post, or make available the Sale Item for collection by the buyer at a place specified by the seller. 

12.2   AVL shall not be responsible in any way for the delivery of the Sale Item to the buyer of such Sale Item.

13. Intellectual Property Rights

13.1 All intellectual property rights (which includes, but is not limited to, copyright, trade mark rights and patent rights) (“Intellectual Property Rights”) in any content on the App (including, but not limited to, text, graphics, software, photographs and other images, videos, sound, trade marks and logos) are owned by us and/or our licensors. Except as expressly set out in these Terms of Service, nothing in these Terms of Service gives you any rights in respect of any intellectual property owned by us or our licensors and you acknowledge that you do not acquire ownership of any Intellectual Property Rights by downloading content from the App. If you print off, copy or store pages from the App (to the extent permitted by these Terms of Service), you must ensure that any copyright, trade mark or other intellectual property right notices contained in the original content are reproduced.

13.2 You agree that by submitting User Content you own and/or have been granted permission to use the Intellectual Property Rights in that content. You acknowledge and agree that you retain any Intellectual Property Rights you may have in User Content, however you grant us and our affiliates a perpetual, irrevocable, worldwide, non-exclusive, royalty-free and fully sub-licensable right and licence to use, reproduce, edit, modify, adapt, publish, translate, create derivative works from, distribute, perform and display such content (in whole or in part) and/or to incorporate it into other works in any form, media or technology, whether for commercial or non-commercial purposes. You waive any moral rights or other Intellectual Property Rights you may have in, or to be identified as the author, of your User Content.

13.3 You are solely responsible for your User Content (including content you share with other sites, such as social networking sites) and we do not endorse your User Content or any opinion, recommendation, or advice expressed therein, and we expressly disclaim any and all liability in connection with your User Content.
14. Trade marks
The brands, products and service names used in the App (including without limitation, "Dingo” and “D-Dingo Logo”) are trade marks or trade names of AVL or its trading partners unless otherwise stated. You may not distribute products or offer services under or by reference to or otherwise use or reproduce any such trademarks, trade names or taglines without the prior written permission of AVL.
15. Jurisdiction and applicable law
15.1 The English courts will have exclusive jurisdiction over any claim dispute (including any non-contractual or other disputes and claims) arising from, or related to, the App although we retain the right to bring proceedings against you for breach of these Terms of Service in your country of residence or any other relevant country.
15.2 These Terms of Service and any dispute or claim arising out of or in connection with them or their subject matter or formation or the App (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of England and Wales.
15.3 If any part, term, or provision of these Terms of Service shall be held by a court of competent jurisdiction to be illegal, unenforceable, or in conflict with any relevant law, the remaining portions or provisions shall still remain valid and continue in full force and effect.
16. Contact us
Questions, comments and requests regarding these Terms of Service should be addressed to the following:
Email: info@dingoapp.co.uk</P>


      </div>
  </div>

  </ion-content>
</ion-view>
