<ion-view class="d-ticket-details" view-title="Ticket Details">
  <ion-content class="padding">

  	<div id="ticket_container" class="row" style="background-image: url('img/categories/concerts@2x.png');">
  		<div class="event-photo">
  			<img ng-src="{{event.thumb}}" />
  		</div>
  		<div class="event-info col">
  			<div class="event-title">{{event.name}}</div>
        <div class="event-address">{{event.address}}</div>
        <div class="event-time">{{event.parsed_time}}</div>
  		</div>
  	</div>

     
    <div class="list ticket-info">
      <label class="item item-input">
        <span class="input-label">Price per Ticket:</span>
        <input type="text" value="£{{ticket.price}}" disabled="true"/>
      </label>
      <label class="item item-input">
        <span class="input-label">Number of Tickets:</span>
        <input type="text" value="{{ticket.number_of_tickets}}" disabled="true"/>
      </label>
      <label class="item item-input">
        <span class="input-label">Face value per ticket:</span>
        <input type="text" value="£{{ticket.face_value_per_ticket}}" disabled="true"/>
      </label>
      <label class="item item-input">
        <span class="input-label">Ticket Type:</span>
        <input type="text" value="{{ticket.ticket_type}}" disabled="true"/>
      </label>
      <label class="item item-input">
        <span class="input-label">Description:</span>
        <input type="text" value="{{ticket.description}}" disabled="true"/>
      </label>
      <label class="item item-input">
        <span class="input-label">Delivery:</span>
        <input type="text" value="{{ticket.delivery_options}}" disabled="true"/>
      </label>
    </div>

    <div class="row ticket-actions">
      <div class="col">
        <img class="photo" ng-src="{{ticket.user_photo}}" />
      </div>
      <div class="col">
        <button ng-click="buyTicket(ticket.id)" class="button button-outline button-positive button-block buy-button">Buy</button>
        <button class="button button-outline button-positive button-block">Contact Seller</button>
<!--         remove new offer
        <button class="button button-outline button-positive button-block">New Offer</button> -->
      </div>
    </div>

  </ion-content>
</ion-view>






