<ion-view class="d-ticket-details" view-title="Ticket Details">
  <ion-content class="padding">

  	<div id="ticket_container" class="row" style="background-image: url('img/categories/concerts@2x.png');">
  		<div class="event-photo">
  			<img src="http://s3-us-west-2.amazonaws.com/dingoapp-test/events/photos/057/899/f5-/tiny_pic/Xmas-K.jpg?1416413614" />
  		</div>
  		<div class="event-info col">
  			<div class="event-title">Xmas Jumper Night</div>
  			<div class="event-address">19 Downham Road, N15BF</div>
				<div class="event-time">18:30</div>
  		</div>
  	</div>

  	<div>
     Ticket Info goes here 
    </div>


  </ion-content>
</ion-view>






