<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	Dear <%= @user.name%>,<br/>
    	<br/>
    	We have initiated your order with ID: <b><%= @order.id%></b> under dispute.<br/>
    	<br/>
    	You will be contacted in the next 48h from Dingo to resolve this issue.<br/>
    	<br/>
    	Best Regards,<br/>
    	<br/>
    	Dingo Team
    </p>
  </body>
</html>