<!DOCTYPE html>
<html lang="en">
<head>
    <title>We have transfered you the money</title>
</head>
<body style="background-color: #FCFCFC; font-family:Verdana, Geneva, sans-serif; font-size:22px">
<div align="center" style="background-color: #FCFCFC">

Hello,

We have transfered you the money directly to your Paypal Account.

If you haven't received it yet, please contact us on support@dingoapp.co.uk indicating the order ID: @order.id

Cheers,

Dingo Team	
	
</div>
</body>
</html>
