<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order is under Dispute!</h1>
    <p>
    	<div>Order details:</div>
    	<ul>
    		<li>ID: <%= @order.id %></li>
    		<li>Event: <%= @order.event.name %></li>
    	</ul>
    </p>
  </body>
</html>