<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi There!</h1>
    <p>
    	We have received a notification that you have reported a user on Dingo.
    	<br /><br />
    	The team will check on it and get back to you soon.
    	<br /><br />
    	We are sorry for the inconvenience, please contact us if you don't hear from us in the next 48h.
    	<br /><br />
    	If you reported a user by mistake, please let us know as soon as possible so we can avoid misunderstanding.
    	<br /><br />
    	Best Regards,
    	<br /><br />
    	Dingo Team
    </p>
  </body>
</html>