<!doctype html>

<html lang="en">
<head>
     
</head>
<body style="background-color: #FCFCFC; font-family: AvenirNext, sans-serif; font-size:22px">
 
<div align="center" style="background-color: #FCFCFC">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    
<style type="text/css">
.tg td{border-style:solid;border-width: 0px;}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

</style>

    <div style="width:580px; font-family:Verdana, Geneva, sans-serif; font-size:18px">
                
        <div align="center" style="padding-bottom:45px; padding-top: 20px; font-family: 'Open Sans', sans-serif; color: #585555">

                <font style=3D"font-size:35px; color:#13C1AC;">
            <table class="tg" cellspacing="0" style="border-width:0px;" height="967" width="572" background="https://s3-us-west-2.amazonaws.com/dingoapp-prod/Email+images/unreadbackground.jpg">
                <tr>
                <td colspan="3" style="height: 375px" align="center" valign="bottom"><img height="290px" width="570px" src="https://s3-us-west-2.amazonaws.com/dingoapp-prod/Email+images/dog.gif"></img> </td>
              </tr>
                <tr>
                <td style="width: 25px;"></td>
                <td align="center" style="font-size: 45px;width: 500px; height: 85px; padding-bottom: 20px;" valign="bottom"><b>Hi <%= @user.name %>,</b></td>
                <td style="width: 25px;"></td>
               </tr>
              <tr>
                <td style="height: 70px"></td>
                <td align="center" colspan="1">Thanks for jumping onboard!</a></td>
              </tr>
              
              <tr>
                <td style="height: 75px"></td>
                <td align="center" colspan="1">Now you're part of the Dingo community you can buy and sell tickets safely and securely from your smartphone.</td>
              </tr>
              
              <tr>
                <td style="height: 75px"></td>
                <td align="center" colspan="1">So remember next time you have a spare ticket or need tickets to a sold out show - <b>Dingo it!</b></td>
              </tr>
              
                <tr>
                <td colspan="3" align="center" style="font-size: 30px;width: 500px; height: 80px;" valign="middle"><b>Dingo Team</b></td>
              </tr>
                
              <tr>
              </tr>
            </table>
        </div>

        <table>
            <tr>
                <td><div align="center" style="padding-bottom:35px"><a href="https://appsto.re/gb/R8Kq1.i" target="_blank"><img src="http://dingoapp.co.uk/web/wp-content/uploads/2015/06/AppStore-e1433167926371.png"></a> </div></td>
                <td><div align="center" style="padding-bottom:35px"><a href="https://play.google.com/store/apps/details?id=uk.co.dingoapp&hl=en_GB" target="_blank"><img src="http://dingoapp.co.uk/web/wp-content/uploads/2015/06/GooglePlay-e1433167904395.png"></a> </div></td>
            </tr>
        </table>
        
        <table>
            <tr>
                <td><div align="center"><a href="https://www.facebook.com/dingoapp" target="_blank"><img height="50px" width="50px" src="https://s3-us-west-2.amazonaws.com/dingoapp-prod/Email+images/Facebook+Square.jpg"></a> </div></td>
                <td><div align="center"><a href="https://twitter.com/Dingotickets" target="_blank"><img height="50px" width="50px" src="https://s3-us-west-2.amazonaws.com/dingoapp-prod/Email+images/Twitter+square.jpg"></a> </div></td>
            </tr>
        </table>    

        
    </div>
</div>  
</body>
</html>

