/* About Style */

.d-about {
	background-color: #ECEBE8;

	.abouticon {
		text-align: center;
		padding-top: 35px;
		padding-bottom: 20px;
		img {
			height: 70px;
			width: 70px;
		}
	}

	.dlogo {
		text-align: center;
		padding-top: 50px;
		padding-bottom: 10px;
	}


	.text {
		font-family: helvetica;
		padding-top: 30x;
		font-size: 20px;
		text-align: center;
		margin-top: 10px;
		padding-right: 20px;
		padding-left: 20px;
		color: #4A4A4A;
	}


}