/* Events Style */

.d-events {

	.bar-search {
		padding: 0;
	}

	#categories_container {

		.categories {
			overflow: hidden;

			.category {
				padding: 0;
				margin-right: 5px;
				float: left;
				width: 160px;
				height: 122px;
				border: 0;
				&:last-child {
					margin-right: 0;
				}
				label.checkbox {
					height: 100%;
					top: inherit;
					bottom: 0;
					input {
						position: absolute;
						bottom: 0;
						margin-bottom: 12px;
						right: -3px;
					}
				}
				img {
					position: absolute;
					height: 113px;
					width: 160px;
				}
				.category-name {
					position: absolute;
					color: white;
					bottom: 0;
					margin-bottom: 15px;
					left: 5px;
				}
			}
		}
	}


	#events_container {
		.events-date {
			color: #fff;
			background-color: #398FAB;
			margin-bottom: 5px;
			padding: 2px;
		}
		.event {
			.row {
				padding: 0;
				margin-bottom: 10px;
				color: inherit;
				text-decoration: inherit;
				&.ion-chevron-right:before {
					margin-top: 20px;
					position: absolute;
					right: 0;
				}
				& > div {
					height: 70px;
				}
				.event-pic {
					width: 70px;

				}
				.event-info {
					.event-title {
						font-weight: bold;
						font-size: 16px;
						padding: 0 5px;
					}
					.event-address {
						padding: 0 5px;
						font-size: 10px;
					}
					.event-time {
						padding: 0 5px;
						font-size: 10px;
						color: gray;
					}
				}
				.event-price {
					//width: 60px;

					.event-price-from {
						font-size: 12px;
					}
					.event-price-per-ticket {
						font-size: 10px;
						color: gray;
					}
					.event-price-available-tickets {
						font-size: 8px;
						color: gray;
					}
				}
			}
		}
	}

	

}