/* Event Details Style */

.d-event-details {
	background-color: #ECEBE8;

	#event_container {
		background-size: cover;
		background-repeat: no-repeat;
		height: 150px;
		margin-bottom: 10px;
		.event-photo {
			padding: 35px 10px;
			img {
				border: 1px solid white;
				border-radius: 48px;
				height: 96px;
			}
		}
		.event-info {
			color: #fff;
			.event-title {
				font-size: 22px;
				line-height: 28px;
				padding: 12px 0;
			}
		}
	}

	.tickets {

		.ticket {
			border: none;
			margin-bottom: 10px;
			&.ion-chevron-right:before {
				margin-top: 20px;
				position: absolute;
				right: 0;
			}
			.ticket-photo {
				height: 80px;
				width: 75px;
			}
			.ticket-price {
				//width: 60px;
				.ticket-price-from {
					font-size: 12px;
				}
				.ticket-price-per-ticket {
					font-size: 10px;
					color: gray;
				}
				.ticket-price-available-tickets {
					font-size: 8px;
					color: gray;
				}
			}

		}

	}

}