/* Home Style */

.d-home {

	////// BOTTOM BAR //////

	.tabs-positive > .tabs {
		background-color: #398FAB;
		color: #fff;
	}
	

	////// ICONS //////

	.icon {

		&.dingo-icon-home {
			background-image: url('../img/home_screen/home_icon@2x.png');
			background-repeat: no-repeat;
			background-size: 28px;
			width: 28px;
			background-position-y: 2px;
		}

		&.dingo-icon-sell-ticket {
			background-image: url('../img/home_screen/list_tickets_icon@2x.png');
			background-repeat: no-repeat;
			background-size: 46px;
			width: 46px;
			background-position-y: 0px;
		}

		&.dingo-icon-messages {
			background-image: url('../img/home_screen/messages_icon@2x.png');
			background-repeat: no-repeat;
			background-size: 30px;
			width: 30px;
			background-position-y: 4px;
		}

		&.dingo-icon-search {
			background-image: url('../img/home_screen/search_icon@2x.png');
			background-repeat: no-repeat;
			background-size: 23px;
			width: 23px;
			background-position-y: 4px;
		}

	}
	

}
