/* Messages Style */

.d-messages {
	background-color: #ECEBE8;

	//////////////////// Conversations Part ////////////////////

	#peers {

		.peer {
			padding: 0;
			margin-bottom: 10px;
			color: inherit;
			text-decoration: inherit;
			overflow: hidden;
		  display: block;
		  clear: both;
		  border-bottom: 1px solid black;
  		background-color: lightgreen;
			&.ion-chevron-right:before {
				margin-top: 30px;
				position: absolute;
				right: 15px;
  			font-size: 16px;
				& > div {
					height: 70px;
				}
			}
			.user-pic {
				float: left;
				width: 70px;
				height: 70px;
			}
			.user-name {
				float: left;
				font-weight: bold;
				font-size: 18px;
				padding: 20px 15px;
			}
		}
		
	}




















	//////////////////// Chat Part ////////////////////

	#chat {
		background-color: #eee;
		//margin: 20px auto 0;
		//width: 400px;

		#header-chat {
			background-color: #555;
			color: white;
			padding: 10px;
			text-align: center;
			text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
			margin-bottom: 10px;
		}

		.chat-box {
			height: 300px;
			margin-bottom: 10px;
		}

		#mensajes {
			padding: 10px;
			height: 100px;
			
			.mensaje-amigo {
				margin-bottom: 10px;
				overflow: hidden;
  			clear: both;
				img {
					float: right;
					display: inline-block;
					vertical-align: top;
					border-radius: 5px;
					width: 50px;
				}

				.contenido {
					float: right;
					background-color: #3990BF;
					border-radius: 5px;
					color: white;
					display: inline-block;
					font-size: 13px;
					padding: 10px;
					vertical-align: top;
					max-width: 210px;
				}

				.flecha-derecha {
					float: right;
					display: inline-block;
					margin-left: -6px;
					margin-top: 10px;
					width: 0; 
					height: 0; 
					border-top: 0px solid transparent;
					border-bottom: 15px solid transparent;
					border-left: 15px solid #3990BF;
				}

				.fecha {
					color: #777;
					font-style: italic;
					font-size: 13px;
					text-align: left;
					margin-top: 10px;
				}
			}
			
			.mensaje-autor {
				margin-bottom: 10px;
				overflow: hidden;
  			clear: both;
				
				img {
					display: inline-block;
					vertical-align: top;
					border-radius: 5px;
					width: 50px;
				}
				
				.contenido {
					background-color: white;
					border-radius: 5px;
					box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
					display: inline-block;
					font-size: 13px;
					padding: 10px;
					vertical-align: top;
					max-width: 210px;
				}
				
				.fecha {
					color: #777;
					font-style: italic;
					font-size: 13px;
					text-align: right;
					margin-right: 35px;
					margin-top: 10px;
				}
				
				.flecha-izquierda {
					display: inline-block;
					margin-right: -6px;
					margin-top: 10px;
					width: 0; 
					height: 0; 
					border-top: 0px solid transparent;
					border-bottom: 15px solid transparent;
					border-right: 15px solid white;
				}
			}
		}

		#caja-mensaje{
			background-color: #A8DCF7;
			margin: 0 auto;
			padding: 5px 10px;
			//width: 400px;
			input{
				border: solid 1px #4193BF;
				outline: none;
				padding: 10px;
				//width: 200px;
			}
			button{
				border: 0;
				background-color: #4193BF;
				color: white;
				font-size: 16px;
				padding: 8px;
				width: 50px;
			}
		}

	}
	



}