/* privacypolicy Style */

.d-privacypolicy {
	background-color: #ECEBE8;

	.privacypolicyicon {
		text-align: center;
		padding-top: 35px;
		padding-bottom: 15px;
		img {
			height: 70px;
			width: 70px;
		}
	}


}