/* Sell Ticket Style */

.d-sell-ticket {
	background-color: #ECEBE8;

	.event-name {

		.events-list {
			.item {
				font-weight: bold;
				background-color: lightgray;
				border-bottom: 2px solid white;
			}
		}



	}
	

}
