/* Side Menu Style */

.d-side-menu {
	
	////// TOP BAR //////

	.dingo-top-bar {
		color: #444;
		background-color: #398FAB;

		.title {
			color: #fff;
			background-image: url('../img/login_screen/dingo_logo@2x.png');
			background-repeat: no-repeat;
			background-size: 48px;
  		background-position: 73px 0px;
			width: 200px;
			margin-left: auto;
			margin-right: auto;
		}

		.icon.ion-navicon {
			color: #fff;
		}
		.button.back-button {
			color: #fff;
		}

	}
	
}

