/* Ticket Details Style */

.d-ticket-details {

	#ticket_container {
		background-size: cover;
		background-repeat: no-repeat;
		height: 150px;
		margin-bottom: 10px;
		.event-photo {
			padding: 35px 10px;
			img {
				border: 1px solid white;
				border-radius: 35px;
				height: 75px;
			}
		}
		.event-info {
			color: #fff;
			.event-title {
				font-size: 22px;
				line-height: 28px;
				padding: 12px 0;
			}
		}
	}

	.ticket-info {
		.item-input {
			border-right: 0;
			border-left: 0;
			&:first-child {
				border-top: 0;
			}
			.input-label {
				font-size: 14px;
				width: 150px;
			}
			input {
				background-color: inherit;
			}
		}
	}

	.ticket-actions {
		.photo {
			width: 120px;
			border-radius: 10px;
		}
		.button {
			margin-top: 0px;
			min-height: 0px;
			line-height: 30px;
			&.buy-button {
				font-weight: bold;
				border: 3px solid;
			}
		}
		
	}




}