<h2>Dingo Backend is running..</h2>
<ul>
	<li>Check the <a href="/admin">Admin Site</a></li>
	<li>Check the <a href="https://apigee.com/dingoapp/console/dingo1">API Console</a></li>
	<li>Check the <a href="https://dashboard.heroku.com/apps/dingoapp/resources">App Settings</a></li>
</ul>

<p>
  The time is now: <%= Time.now %>
</p>

